:root {
    --main-color: rgba(0, 0, 0, 0.1);
    --secondary-color: #ff9800;
    --search-container: rgba(143, 188, 143, 1.0);
    --card-bg-color: #48CFCB;
    --card-bg: rgba(0, 0, 0, 0.1);
    --card-text-color: #424242;
    --desc-color: #424242;

}

@font-face {
    font-family: "iran-moghtased";
    src: url(../assets/fonts/iran-moghtased.ttf);
}

@font-face {
    font-family: "iran-Dorandis";
    src: url(../assets/fonts/IRANDorandis.ttf);
}

@font-face {
    font-family: "iran-marker";
    src: url(../assets/fonts/IRANMarker.ttf);
}

@font-face {
    font-family: "iran-nastaliq";
    src: url(../assets/fonts/IranNastaliq.ttf);
}

@font-face {
    font-family: "Far-Diplomat";
    src: url(../assets/fonts/Far_Diplomat.ttf);
}

body {
    background-color: var(--main-color) !important;
    font-family: "Far-Diplomat", serif !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    place-content: center;
    place-items: center;
}

.search-bar {
    position: fixed;
    height: 50px;
    bottom: 20px;
    justify-self: center;
    backdrop-filter: blur(3px);
}

.search-box {
    width: 90vw;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    direction: rtl;
    font-family: "Far-Diplomat", serif;
    font-size: 20px !important;
    font-weight: Bold;
    margin-bottom: 20px;
    padding-top: 0;
    /*transition: transform 0.3s ease-out;*/
    background-color: rgba(0, 0, 0, 0.5);;
    justify-self: center !important;


}

.search-box::placeholder {
    justify-self: center;
    padding-right: 10px;
    margin-top: 20px !important;
    padding-top: 20px !important;
    color: #ffffff;
}

.category-type {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    background: url("../node_modules/bootstrap-icons/icons/collection.svg") rgba(255, 255, 255, 0.8) no-repeat center;
    cursor: pointer;
}

#container {
    width: 100%;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
}


.food-card {
    height: 434px;
    background-color: var(--card-bg);
    color: var(--card-text-color);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    overflow: hidden;
    text-align: end;
    margin-top: 50px;
}

.food-card .food-image {
    width: 100%;
    height: auto;
}

.food-card .food-top {
    margin-top: 10px;
}

.food-card .food-top .food-name {
    font-weight: Bold;
    font-size: 1.5em;
    margin: 0 15px 0 0;
}

.food-card .food-description {
    color: var(--desc-color) !important;
    margin: 16px 16px 1px;
    max-height: 120px;
    overflow-y: scroll;
    scrollbar-width: none;

}


.food-bottom {
    display: flex;
    padding: 20px 16px 16px 16px;
    justify-self: flex-end;
    border-top: 1px solid #e0e0e0;
    direction: rtl;
    margin-top: 140px;
    align-self: end;

}

.food-stock {
    position: relative;
    font-size: 1.2em;
    color: #28a745;
    font-weight: bold;
}

.food-price {
    position: relative;
    margin-right: auto;
    font-size: 1.2em;
    font-weight: bold;
}


/* row-card */
.row-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-items: center;
}

.row-card .food-card {
    width: 400px;
}

/* row-card end */

/* column-card start */

.column-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: end;
}

.column-card .food-card {
    display: flex;
    /*flex-basis: 50% !important;*/
    flex-direction: row;
    width: 100%;
    max-width: 100% !important;
    height: 250px !important;
    max-height: 250px !important;
    /*margin-left: auto;*/
    margin-right: 10px;
    /*Change one of the for values of the border radius to 50px to make it look better. */
    border-radius: 10px 10px 10px 10px;
    direction: rtl;
}

.column-card .food-card .food-image {
    width: 220px;
    height: 220px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.column-card .food-box {
    width: 100%;
}

.column-card .food-card .food-top {
    /*background-color: #c80036;*/
    width: 100%;
}

.column-card .food-card .food-name {
    /*width: 100%;*/
    font-size: 1.5rem;
    text-align: right;
}

.column-card .food-card .food-description {
    max-width: 500px;
    max-height: 50px !important;
    font-size: 1.0rem;
    text-align: right;
    overflow-x: scroll;
    overflow-y: auto;

}

.column-card .food-card .food-bottom {
    /*background-color: #c80036;*/
    float: left;
    margin-left: 10px;
    /*transform: translateY(-20%);*/
    margin-top: -10px;
    border: none;
}

.column-card .food-box .food-bottom .food-stock {
    margin-left: 120px;
}

/* column-card */


@media screen and (max-width: 576px) {
    .row-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .row-card .food-card {
        width: 48vw;
        height: 45vh;
    }

    .row-card .food-card .food-description {
        font-size: 16px;
    }

    .row-card .food-card .food-bottom {
        margin-top: 50px;
    }


    .column-card {
        justify-content: center;
    }

    .column-card .food-card {
        width: 100%;
        height: 150px !important;
        margin-top: 15px;
    }

    .column-card .food-card .food-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .column-card .food-box {
        width: 100%;
    }

    .column-card .food-card .food-top {
        width: 100%;
    }

    .column-card .food-card .food-name {
        font-size: 1.2rem;
        text-align: right;
    }

    .column-card .food-card .food-description {
        max-width: 500px;
        max-height: 40px !important;
        font-size: .8rem;
        text-align: right;

    }

    .column-card .food-card .food-bottom {
        border: 5px #c80036;
        width: 100%;
    }

    .column-card .food-box .food-bottom .food-stock {
        font-size: 0.9rem;
        margin-right: 10px;
    }

    .column-card .food-box .food-bottom .food-price {
        font-size: 0.9rem;
    }

}

@media screen and (min-width: 576px) {
    .row-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .row-card .food-card {
        width: 95%;
        height: 90%;
    }


    .column-card {
        justify-content: center;
    }

    .column-card .food-card {
        width: 100%;
        height: 150px !important;
        margin-top: 15px;
    }

    .column-card .food-card .food-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .column-card .food-box {
        width: 100%;
    }

    .column-card .food-card .food-top {
        width: 100%;
    }

    .column-card .food-card .food-name {
        font-size: 1.2rem;
        text-align: right;
    }

    .column-card .food-card .food-description {
        max-width: 500px;
        max-height: 40px !important;
        font-size: .8rem;
        text-align: right;

    }

    .column-card .food-card .food-bottom {
        border: 5px #c80036;
        width: 100%;
    }

    .column-card .food-box .food-bottom .food-stock {
        font-size: 0.9rem;
        margin-right: 10px;
    }

    .column-card .food-box .food-bottom .food-price {
        font-size: 0.9rem;
        /*margin-right: 10px;*/
    }
}

@media screen and (min-width: 768px) {
    .row-card {
        grid-template-columns: repeat(3, 1fr);
    }

    .row-card .food-card {
        width: 95%;
    }
}

@media screen and (min-width: 992px) {
    .row-card {
        grid-template-columns: repeat(3, 1fr);
    }

    .row-card .food-card {
        width: 95%;
    }
    .row-card .food-card .food-top {
        max-height: 100% !important;
    }


    .column-card {
        justify-content: center;
    }

    .column-card .food-card {
        width: 48%;
        height: 150px !important;
        margin-top: 15px;
    }

    .column-card .food-card .food-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .column-card .food-box {
        width: 100%;
    }

    .column-card .food-card .food-top {
        width: 100%;
    }

    .column-card .food-card .food-name {
        font-size: 1.5rem;
        text-align: right;
    }

    .column-card .food-card .food-description {
        max-width: 500px;
        font-size: 1.0rem;
        text-align: right;

    }

    .column-card .food-card .food-bottom {
        border: 5px #c80036;
        width: 100%;
    }

    .column-card .food-box .food-bottom .food-stock {
        margin-right: 10px;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .row-card {
        grid-template-columns: repeat(4, 1fr);
    }

    .row-card .food-card {
        width: 95%;
    }


    .column-card {
        justify-content: center;
    }

    .column-card .food-card {
        width: 49%;
        height: 150px !important;
        margin-top: 15px;
    }

    .column-card .food-card .food-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .column-card .food-box {
        width: 100%;
    }

    .column-card .food-card .food-top {
        width: 100%;
    }

    .column-card .food-card .food-name {
        font-size: 1.5rem;
        text-align: right;
    }

    .column-card .food-card .food-description {
        max-width: 500px;
        font-size: 1.0rem;
        text-align: right;

    }

    .column-card .food-card .food-bottom {
        border: 5px #c80036;
        width: 100%;
    }

    .column-card .food-box .food-bottom .food-stock {
        margin-right: 10px;
    }

}

@media screen and (min-width: 1400px) {
    .row-card {
        grid-template-columns: repeat(5, 1fr);
    }

    .row-card .food-card {
        width: 95%;
    }


    .column-card {
        justify-content: center;
    }

    .column-card .food-card {
        width: 49%;
        height: 150px !important;
        margin-top: 15px;
    }

    .column-card .food-card .food-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .column-card .food-box {
        width: 100%;
    }

    .column-card .food-card .food-top {
        width: 100%;
    }

    .column-card .food-card .food-name {
        font-size: 1.5rem;
        text-align: right;
    }

    .column-card .food-card .food-description {
        max-width: 500px;
        font-size: 1.0rem;
        text-align: right;

    }

    .column-card .food-card .food-bottom {
        border: 5px #c80036;
        width: 100%;
    }

    .column-card .food-box .food-bottom .food-stock {
        margin-right: 10px;
        font-size: 1.1rem;
    }
    .column-card .food-box .food-bottom .food-price {
        font-size: 1.1rem;
    }

}
